* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: inherit;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  color: #000000;
}
body .container {
  margin: 0 auto;
  background-color: #fafbff;
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}
.logo__container {
  display: flex;
  margin-right: 4px;
}
.logo__icon {
  width: 37px;
  height: 37px;
  background-image: url("./assets/img/svg/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
}
@media (max-width: 1000px) {
  .logo__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
.logo__title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .logo__title {
    font-size: 18px;
  }
}
@media (max-width: 680px) {
  .logo__title {
    display: none;
  }
}
.logo__version {
  font-size: 10px;
  font-weight: 500;
  margin-top: 12px;
  color: #838383;
}
@media (max-width: 1000px) {
  .logo__version {
    margin-top: 8px;
  }
}
@media (max-width: 680px) {
  .logo__version {
    display: none;
  }
}

.user-badge {
  display: flex;
}
@media (max-width: 680px) {
  .user-badge {
    flex-direction: column;
  }
}
.user-badge__image {
  width: 42px;
  height: 42px;
  background-image: url("./assets/img/png/evano-image.png");
  margin-right: 12px;
}
@media (max-width: 680px) {
  .user-badge__image {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
.user-badge__name {
  font-weight: 500;
}
.user-badge__position {
  font-size: 12px;
}

.customers {
  background-color: #ffffff;
  padding: 30px 0 40px;
  border-radius: 30px;
}
@media (max-width: 680px) {
  .customers {
    padding: 5px 0;
  }
}
.customers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 53px 0 38px;
  margin-bottom: 26px;
}
@media (max-width: 680px) {
  .customers__header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px;
  }
}
.customers__title-main {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 7px 0;
}
.customers__title-detail {
  color: #16c098;
}
.customers__data-table {
  margin-bottom: 30px;
  overflow-x: visible;
}
@media (max-width: 1439px) {
  .customers__data-table {
    overflow-x: auto;
  }
}

.search {
  position: relative;
}
.search__input {
  height: 38px;
  border: none;
  border-radius: 10px;
  background-color: #f9fbff;
  padding: 10px 30px 10px 40px;
  font-size: 12px;
}
@media (max-width: 680px) {
  .search__input {
    padding: 5px 20px 5px 40px;
  }
}
.search__icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("./assets/img/svg/search.svg");
}

.data {
  padding-right: 40px;
}
@media (max-width: 680px) {
  .data {
    padding-right: 5px;
  }
}
.data__table {
  width: 100%;
  border-collapse: collapse;
}
.data__table-head tr::after {
  content: "";
  display: block;
  position: absolute;
  width: 104.3%;
  left: 0;
  height: 1px;
  background-color: #eeeeee;
  bottom: 0;
}
.data__table-head th {
  padding: 14px 0;
  color: #b5b7c0;
  text-align: start;
  padding-left: 38px;
}
@media (max-width: 680px) {
  .data__table-head th {
    padding-left: 5px;
  }
}
.data__table-head th.left {
  min-width: 172px;
}
.data__table-head th.second {
  min-width: 131px;
}
.data__table-head th.third {
  min-width: 156px;
}
.data__table-head th.forth {
  min-width: 207px;
}
.data__table-head th.fifth {
  min-width: 140px;
}
.data__table-head th.sixth {
  padding-left: 50px;
}
@media (max-width: 680px) {
  .data__table-head th.sixth {
    padding-left: 5px;
  }
}
.data__table-body tr::after {
  content: "";
  display: block;
  position: absolute;
  width: 96%;
  right: 0;
  height: 1px;
  background-color: #eeeeee;
  bottom: 0;
}
.data__table-row {
  position: relative;
}
.data__table-row td {
  padding: 20px 0;
  padding-left: 38px;
}
@media (max-width: 680px) {
  .data__table-row td {
    padding-left: 5px;
  }
}
.data__table-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  font-weight: 500;
}
.data__table-label.active {
  background-color: rgba(22, 192, 152, 0.3803921569);
  color: #008767;
  border: 1px solid #00b087;
}
.data__table-label.inactive {
  background-color: #ffc5c5;
  color: #df0404;
  border: 1px solid #df0404;
}
.data__table-label.large {
  width: 84px;
}
.data__details {
  display: flex;
  justify-content: space-between;
  padding-left: 38px;
}
@media (max-width: 680px) {
  .data__details {
    flex-direction: column-reverse;
    padding-left: 5px;
  }
}
.data__details-info {
  color: #b5b7c0;
  font-weight: 500;
}
.data__details .pages {
  display: flex;
}
@media (max-width: 680px) {
  .data__details .pages {
    flex-wrap: wrap;
  }
}
.data__details .pages__item {
  margin-right: 12px;
}
@media (max-width: 680px) {
  .data__details .pages__item {
    margin-bottom: 12px;
  }
}
.data__details .pages__item:last-child {
  margin-right: 0;
}
.data__details .pages__item-btn {
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  min-width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}
.data__details .pages__item-btn:hover {
  background-color: #d5c9ff;
}
.data__details .pages__item-btn.active {
  background-color: #5932ea;
  border: 1px solid #5932ea;
  color: #ffffff;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 36px 28px 76px;
  width: 306px;
  background-color: #ffffff;
}
@media (max-width: 1000px) {
  .side-bar {
    padding: 10px;
    width: 175px;
  }
}
@media (max-width: 680px) {
  .side-bar {
    width: 80px;
  }
}

.navigation {
  flex-grow: 1;
}
.navigation__list {
  margin: 0;
  padding: 0;
}
.navigation__item {
  list-style: none;
  height: 46px;
  border-radius: 8px;
  margin-bottom: 18px;
  padding: 11px 8px 11px 11px;
  transition: all 0.2s ease-in-out;
}
.navigation__item:hover {
  background-color: #d5c9ff;
}
.navigation__item.active {
  background-color: #5932ea;
}
.navigation__item.active .navigation__title {
  color: #ffffff;
}
.navigation__item.active .navigation__arrow {
  background-image: url("./assets/img/png/chevron-right-active.png");
}
.navigation__button {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 1000px) {
  .navigation__button {
    justify-content: space-between;
  }
}
.navigation__icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
@media (max-width: 680px) {
  .navigation__icon {
    margin-right: 0;
  }
}
.navigation__icon-key-square {
  background-image: url("./assets/img/png/key-square.png");
}
.navigation__icon-3d-square {
  background-image: url("./assets/img/png/3d-square.png");
}
.navigation__icon-user-square {
  background-image: url("./assets/img/png/user-square.png");
}
.navigation__icon-wallet-money {
  background-image: url("./assets/img/png/wallet-money.png");
}
.navigation__icon-discount-shape {
  background-image: url("./assets/img/png/discount-shape.png");
}
.navigation__icon-message-question {
  background-image: url("./assets/img/png/message-question.png");
}
.navigation__title {
  color: #9197b3;
  font-weight: 500;
  flex-grow: 1;
  text-align: start;
}
@media (max-width: 1000px) {
  .navigation__title {
    display: none;
  }
}
.navigation__arrow {
  width: 16px;
  height: 16px;
  background-image: url("./assets/img/png/chevron-right.png");
  background-repeat: no-repeat;
}

.main {
  flex-grow: 1;
  width: 1134px;
  padding: 41px 95px 41px 71px;
}
@media (max-width: 1439px) {
  .main {
    width: calc(100vw - 306px);
    flex-grow: 0;
  }
}
@media (max-width: 1000px) {
  .main {
    width: calc(100vw - 175px);
    padding: 10px;
  }
}
@media (max-width: 680px) {
  .main {
    width: calc(100vw - 80px);
  }
}
.main .greeting {
  margin: 0 0 51px 0;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .main .greeting {
    margin: 0 0 5px 0;
  }
}

/*# sourceMappingURL=style.css.map */
