$color-font: #000000;
$color-font-secondary: #838383;
$color-font-nav: #9197b3;
$color-font-nav-active: #ffffff;

$color-background: #fafbff;
$color-background-aside: #ffffff;
$color-nav-active: #5932ea;

