$color-font: #000000;
$color-font-secondary: #838383;
$color-font-nav: #9197b3;
$color-font-nav-active: #ffffff;
$color-font-highlight: #16c098;
$color-font-table-head: #b5b7c0;

$color-background: #fafbff;
$color-background-aside: #ffffff;
$color-nav-active: #5932ea;
$color-nav-hover: #d5c9ff;
$color-input: #f9fbff;

$color-table-border: #eeeeee;

$color-background-label-active: #16c09861;
$color-border-label-active: #00b087;
$color-label-active: #008767;

$color-background-label-inactive: #ffc5c5;
$color-border-label-inactive: #df0404;
$color-label-inactive: #df0404;

$color-page-background: #f5f5f5;
$color-page-border: #eeeeee;

$laptop-width: 1439px;
$tablet-width: 1000px;
$mobile-width: 680px;
