.logo {
  display: flex;
  align-items: center;
  margin-bottom: 53px;

  &__container {
    display: flex;
    margin-right: 4px;
  }

  &__icon {
    width: 37px;
    height: 37px;
    background-image: url('./assets/img/svg/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
  }

  &__title {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
  }

  &__version {
    font-size: 10px;
    font-weight: 500;
    margin-top: 12px;
    color: $color-font-secondary;
  }
}