.user-badge {
  display: flex;

  &__image {
    width: 42px;
    height: 42px;
    background-image: url('./assets/img/png/evano-image.png');
    margin-right: 12px;
  }

  &__name {
    font-weight: 500;
  }
}
